.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
content/.obsidian/plugins/
content/.obsidian/themes/
content/.obsidian/workspace.json
content/.obsidian/workspace-mobile.json
.quartz-cache
private/
.replit
replit.nix