.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
content/.obsidian/workspace.json
content/.obsidian/workspace-mobile.json
content/.obsidian/plugins
content/.obsidian/themes
.quartz-cache
private/
.replit
replit.nix